body {
    color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


.contain {
    background: url("../Assets/background.png") center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

h1 {
    font-family: sans-serif;
    color: #ffffff;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}
.selectWidth {
    width: 80%;
}

#map {
    border: 2px #9dd442 double;
    
}

.loader{
    z-index: 401;
    width: 3rem;
    height: 3rem;
}




/* .popupStyle .leaflet-popup-tip {
   
} */
@media screen and (min-width: 640px) {
    .popupStyle .leaflet-popup-content-wrapper {
        height: 50vh;
        width: 40vw;
        overflow: scroll;
    }
}
@media screen and (max-width: 640px) {
    .popupStyle {
      height: 40vh;
      width: 60vw;
      overflow: scroll;
    }
  }

.clusterStyle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4D94FF;
    color:white;
    text-align: center;
    line-height: 40px;
    margin: -20px;
    border: 2px solid#9dd442;
}